# Tuples

In [12]:
x =('sans', 'apple', 'grapes','sans', 'apple', 'sabina')

In [13]:
x #yesma duplicate items allow cha

('sans', 'apple', 'grapes', 'sans', 'apple', 'sabina')

In [14]:
len(x)

6

In [15]:
x[2] #row ko item lai count garera value nikalana milcha

'grapes'

In [17]:
x[2:5]

('grapes', 'sans', 'apple')

In [18]:
y=list(x)

In [19]:
y

['sans', 'apple', 'grapes', 'sans', 'apple', 'sabina']

In [20]:
y[2]='grape'

In [21]:
y

['sans', 'apple', 'grape', 'sans', 'apple', 'sabina']

In [23]:
y.remove('apple')

In [24]:
y

['sans', 'grape', 'sans', 'apple', 'sabina']

In [25]:
x=tuple(y)

In [27]:
x #again changed the value after changing the list

('sans', 'grape', 'sans', 'apple', 'sabina')

In [28]:
z=('Sanskriti',)

In [29]:
type(z)

tuple


# Set

In [30]:
s1={1,2,3,4,5,6,7,8,9}

In [32]:
type(s1)

set

In [36]:
s2={1,2,2,3,4,5,6,6,6,7,8,8,8,8,8,} #set doesnot allow the duplicate value

In [35]:
s2

{1, 2, 3, 4, 5, 6, 7, 8}

In [37]:
len(s2)

8

In [40]:
s2.add('9') #adding the elements

In [41]:
s2

{1, 2, 3, 4, 5, 6, 7, 8, '9'}

In [52]:
s2.remove(5)

In [53]:
s2

{1, 2, 3, 4, 7, 8, '9'}

In [55]:
for i in s2:
    print(i)

1
2
3
4
7
8
9

In [58]:
s3=list(s2)

In [59]:
s3[6]='hello world'

In [60]:
s3

[1, 2, 3, 4, 7, 8, 'hello world']

In [61]:
s2=set(s3)

In [62]:
s2

{1, 2, 3, 4, 7, 8, 'hello world'}

# if Else Statement

In [1]:
x=float(input ('Enter any number:'))

Enter any number:35.2

In [2]:
if x%2==0:
    print('Number is Even')
else: 
    print('Number is Odd')

Number is Odd

In [3]:
if x%2==0:
    print('Number is Even')
elif x%2!=0:
        print('Number is Odd')
else: 
    print('Enter interger')

Number is Odd

In [4]:
if x%2==0:
    print('Number is Even')
elif x%2==1:
        print('Number is Odd')
else: 
    print('Enter interger')

Enter interger

In [5]:
#Excercise:
  #  1) Take marks as input from users
  #  2.Classify the division using following reference 
  #     i. Marks greater then equal to 80 distinction
  #    ii. greater equal to 60 and less the 80 first division
  #   iii. greater equal to 40 and less than 60 second division 
  #    iv. less than 40 fail
  #     v. Else invalid marks

In [9]:
marks=float(input('Enter your marks'))

Enter your marks67.5

In [10]:
if marks>80 and marks<=100:
    print('Distinction')
elif  marks>=60:
    print('First Division')
elif marks>=40:
    print('Second Divison')
elif marks>=0:
    print('Fail')
else:
    print('Enter valid marks')

First Division